
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: rgb(66, 30, 30);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    filter: drop-shadow(3px 2px 2px rgba(0, 0, 0, 0.644));
    --width: 50vw ;
    width: var(--width);
    height: calc(var(--width) * 0.8);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: white;
    font-family: sans-serif;
    max-width: 300px;
    max-height: 240px;
    min-width: 150px;
    min-height: 120px;
    margin-top: 6rem;
    animation: enter_fade 1s forwards;
}

@keyframes enter_fade {
    from{
        filter: drop-shadow(3px 2px 2px rgba(0, 0, 0, 0.644)) brightness(0);
        opacity: 0;
        transform: translateY(-20%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);

    }
}

.container img {
    width: var(--width);
    max-width: 300px;
    min-width: 150px;
    position: absolute;
    z-index: 3;
}

.container .back {
    z-index: -1;
}

.container div {
    --scale: 0.9;
    transform: scale(var(--scale));
    max-width: 300px;
    min-width: 150px;
    min-height: 120px;
    max-height: 240px;
    overflow:hidden;
    text-align: center;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    word-break: break-all;
    letter-spacing: 2px;
    height: 100%;
    width: 100%;
    transition: all 0.4s ease-in-out
}

.container div.show {
    opacity: 1;
    --position: -80%;
    transform: translateY(var(--position)) scale(var(--scale));
}

h3 {
    min-width: 230px;
    justify-content: center;
    color: white;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.336);
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-weight: 1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
}

h4 {
    background: rgb(29, 29, 29);;
    border-radius: 10px;
    min-width: 230px;
    justify-content: center;
    color: rgb(157, 227, 255);
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.336);
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}

button {
    background-color: rgb(29, 29, 29);
    border: none;
    padding: 5px;
    border-radius: 30px;
    outline: 2px solid rgba(59, 59, 59, 0.342);
    width: 5rem;
    height: 3rem;
    font-size: 20px;
    color: white;
    transition: transform 0.2s ease-in-out;
    opacity: 0;
}

button {
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    filter: brightness(1.5);
}