* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(66, 30, 30);
    position: relative;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo {
    user-select: none;
    position: relative;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 300px;
    color: rgb(212, 7, 7);
    font-size: 21px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.397);
    animation: enter_logo 1s ease forwards;
    
}

@keyframes enter_logo {
    from {
        transform: translateY(-50%);
        opacity: 0;
        filter: brightness(0);
    }
    to {
        transform: translateY(0);
        opacity: 1;
        filter: brightness(0.6);

    }
}

.logo img {
    margin-bottom: -20px;
    filter:drop-shadow(2px 5px 2px rgb(94, 38, 38));
}

.input {
    user-select: none;
    flex-wrap: nowrap;
    text-wrap: none;
    min-width: 400px;
    gap: 20px;
    margin-top: 50px;
    color: white;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    -webkit-text-stroke: 1px rgba(78, 76, 76, 0.493);
    text-shadow: 2px 2px 5px black;
    animation: enter_input 7s ease forwards;
}

.fade_in {
    animation: enter_input 1s ease forwards;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input .input_field {
    position: relative;
    width: 300px;
    height: 50px;
    display: flex;
    background-color: rgb(29, 29, 29);
    border-radius: 30px;
    align-items: center;
}

button {
    pointer-events: none;
    margin-top: 10px;
    background-color: rgba(78, 76, 76, 0.493);
    padding: 5px;
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.377);
    font-size: 15px;
    opacity: 0.2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#erase {
    display: none;
    opacity: 1;
}

.input .input_field p {
    cursor: pointer;
    display: flex;
    background: black;
    height: 80%;
    width: 15%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    -webkit-text-stroke: 2px;
    border-radius: 50px;
}

.input .input_field input {
    display: flex;
    background: none;
    border-radius: 30px;
    width: 80%;
    height: 100%;
    padding-left: 10px;
    font-size: 18px;
    outline: none;
    border: none;
    color: white;
}

@keyframes enter_input {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.players_list {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    align-items: center;
    color: rgba(255, 255, 255, 0.342);
    margin-top: 50px;
    width: 60vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 300px;
    max-width: 500px;
    background-color: rgb(29, 29, 29);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

button {
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    filter: brightness(1.5);
}